<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>


<div class="row">
  <div class="span12">

    <div class="row">
      <div class="span3">

        <div class="span2"><div class="img-polaroid"><%= image_tag "SSGoldman Sachs.jpg"%></div>
          <a href=".html" title="Read More" class="read_more">Featured Job</a>
          <p><small>"Sed ut perspiciatis unde omnis iste natus.</small></p></div>

        <div class="span2"><div class="img-polaroid"><%= image_tag "SSJob2.jpg"%></div>
          <a href=".html" title="Read More" class="read_more">Featured Job</a>
          <p><small>"Sed ut perspiciatis unde omnis iste natus.</small></p></div>

        <div class="span2"><div class="img-polaroid"><%= image_tag "Dress For Success.jpg"%></div>
          <a href=".html" title="Read More" class="read_more">Featured Job</a>
          <p><small>"Sed ut perspiciatis unde omnis iste natus.</small></p></div>

        <div class="span2"><div class="img-polaroid"><%= image_tag "SScareer.jpg"%></div>
          <a href=".html" title="Read More" class="read_more">Featured Job</a>
          <p><small>"Sed ut perspiciatis unde omnis iste natus.</small></p></div>





      </div>

      <div class="span5 ">

        <h4>Latest Blog Posts</h4>

<% @articles.each do |article| %>

                <p><h5><%= article.title %></h5>

                </p>

            <p><h5>Title</h5>
           <%= article.body %>
            </p>




                <%= link_to 'Show', article %>
                <%= link_to 'Edit', edit_article_path(article) %>
                <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>

          <% end %>


        <br />

        <!--<%= link_to 'New Article', new_article_path %>-->



      </div>
      <div class="span3">


        <!--<#%= render 'layouts/jobsearch' %>-->


      </div>
    </div>

  </div>
</div>









