<p id="notice"><%= notice %></p>


<div class="row">
  <div class="span12">
    <h4>Current Jobs</h4>
    <div class="row">
      <div class="span6 offset3">




        <% @jobs.each do |job| %>

            <p><h5></h5>
            <h3><%= job.job_title %></h3>
            </p>

            <p><h5>ID</h5>
            <%= job.job_id %>
            </p>

            <p><h5></h5>
            <%= job.photo_url %>
            <%= image_tag "http://placehold.it/144x81"%>
            <p class="muted"><small>company logo</small></p>
            </p>

            <p><h5>Description</h5>
            <%= job.job_description %>
            </p>
            <p><h5>Location</h5>
            <%= job.job_location %>
            </p>

            <p><h5>Type</h5>
            <%= job.job_type %>
            </p>
            <p><h5>Employer</h5>
            <%= job.employer %>
            </p>
            <p><h5>Employer website</h5>
            <%= job.employer_website %>
            </p>

            <p><h5>How to apply</h5>
            <%= job.how_to_apply %>
            </p>

            <p><h5>Industry</h5>
            <%= job.industry %>
            </p>
            <p><h5>Hours</h5>
            <%= job.hours %>
            </p>
            <p><h5>Days</h5>
            <%= job.days %>
            </p>

            <p class="muted"><small>Created at</small>
              <small><%= job.created_at %></small></p>
            <p class="muted">
              <small>Updated at</small>
              <small><%= job.updated_at %></small></p>




            <br/>

            <%= link_to 'Show', job %>
            <%= link_to 'Edit', edit_job_path(job) %>
            <%= link_to 'Destroy', job, method: :delete, data: {confirm: 'Are you sure?'} %>

        <% end %>

        <%= link_to 'New Job', new_job_path %>


       </div>
      <div class="span3">


            <%= render 'layouts/twitterfeed' %>


          </div>
        </div>

        </div>
    </div>









