<p id="notice"><%= notice %></p>

<h3>Current Events</h3>

<div class="row">
  <div class="span5 offset4">

    <% @events.each do |event| %>

        <p><h5>ID</h5>
        <h3><%= event.event_id %></h3>
        </p>

        <p><h5>Image</h5>
        <%= event.event_image %>
        <%= image_tag "http://placehold.it/304x171"%>
        <p class="muted"><small>event image</small></p>
        </p>

        <p><h5>Location</h5>
        <%= event.event_location %>
        </p>


        <p><h5>Date</h5>
        <%= event.event_date %>
        </p>

        <p><h5>Time</h5>
        <%= event.event_time %>
        </p>
        <p><h5>Event Website</h5>
        <%= event.event_website %>
        </p>
        <p><h5>Contact</h5>
        <%= event.contact_email %>
        </p>

        <p><h5>Description</h5>
        <%= event.event_description %>
        </p>
        <p><h5>User ID</h5>
        <%= event.user_id %>
        </p>


        <p class="muted"><small>Created at</small>
          <small><%= event.created_at %></small></p>
        <p class="muted">
          <small>Updated at</small>
          <small><%= event.updated_at %></small></p>




        <br/>

        <%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: {confirm: 'Are you sure?'} %>

    <% end %>

    <%= link_to 'New Event', new_event_path %>

  </div>
</div>