<h3>Events</h3>

<table>
  <tr>
    <th>Event</th>
    <th>Event location</th>
    <th>Event image</th>
    <th>Event date</th>
    <th>Event time</th>
    <th>Event website</th>
    <th>Contact email</th>
    <th>Event description</th>
    <th>User</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.event_id %></td>
    <td><%= event.event_location %></td>
    <td><%= event.event_image %></td>
    <td><%= event.event_date %></td>
    <td><%= event.event_time %></td>
    <td><%= event.event_website %></td>
    <td><%= event.contact_email %></td>
    <td><%= event.event_description %></td>
    <td><%= event.user_id %></td>
    <td><%= event.created_at %></td>
    <td><%= event.updated_at %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />



      <%= link_to 'New Event', new_event_path %>
