<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @event.event_id %>
</p>

<p>
  <b>Event location:</b>
  <%= @event.event_location %>
</p>

<p>
  <b>Event image:</b>
  <%= @event.event_image %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Event time:</b>
  <%= @event.event_time %>
</p>

<p>
  <b>Event website:</b>
  <%= @event.event_website %>
</p>

<p>
  <b>Contact email:</b>
  <%= @event.contact_email %>
</p>

<p>
  <b>Event description:</b>
  <%= @event.event_description %>
</p>

<p>
  <b>User:</b>
  <%= @event.user_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @event.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @event.updated_at %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
